<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}App{% endblock %}</title>

    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-dark bg-dark px-3">

    <a class="navbar-brand" href="/">Tech Tracking</a>

    <div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/dashboard" class="btn btn-light">Dashboard</a>
            <a href="/users" class="btn btn-light">Users</a>
            <a href="/interventions" class="btn btn-light">Interventions</a>
        {% endif %}

        {% if is_granted('ROLE_TECH') %}
            <a href="/mes-interventions" class="btn btn-light">Mes interventions</a>
        {% endif %}

        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
        {% endif %}
    </div>

</nav>

<div class="container mt-3">
    {% block body %}{% endblock %}
</div>

<!-- 🔥 IMPORTANT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>